<% @services.each do |service| %>
  <div class="bg-white p-4 rounded-lg shadow-md mb-4">
    <h3 class="text-xl font-semibold text-gray-800"><%= service.name %></h3>
    <p class="text-sm text-gray-600"><%= service.duration %> Minutes</p>
    <%= link_to "Book", new_booking_path(service_id: service.id), class: "mt-2 inline-block px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition" %>
  </div>
<% end %>
