<div class="w-full bg-cover bg-center relative" style="background-image: url('<%= asset_path('being-washed.jpg') %>'); opacity: 0.8; height: calc(100vh - 4rem);">
  <!-- Overlay -->
  <div class="absolute inset-0 bg-black opacity-50"></div>

  <!-- Text Content -->
  <div class="absolute inset-0 flex items-center justify-center text-white text-center z-10">
    <div>
      <h1 class="text-5xl poppins-extrabold">Want a fresh, clean car?</h1>
      <p class="text-xl mt-2 poppins-light">North Brisbane's Limco Carwash, your local choice.</p>
      <div class="mt-5">
        <%= link_to "Book Now", services_path, class: "poppins-medium bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-lg cursor-pointer transition-all focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-offset-2 active:scale-95" %>
      </div>
    </div>
  </div>
</div>
