<div class="py-12 bg-white" style="padding-left: 8rem; padding-right: 8rem;">
  <div class="flex items-center justify-between">

    <div class="text-left pr-8">
      <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-medium leading-7 text-indigo-800 mb-4 poppins-extrabold">
        Limco Car Wash Services
      </h2>
      <p class="text-lg sm:text-xl md:text-2xl lg:text-3xl text-gray-600 mb-8 poppins-light">
        Whether you're looking for a quick refresh or a premium detailing experience, <br>
        we offer a range of services designed to meet the needs of every driver.
      </p>
    </div>

    <%# normal CSS added here for styling %>
    <!-- Logo -->
    <div class="logo-wrapper">
      <%= image_tag "logo.png", alt: "Limco Car Wash Logo", class: "h-20" %>
    </div>
  </div>
</div>
