<div class="py-12 bg-white px-4 sm:px-6 md:px-8 lg:px-32">
  <div class="flex items-center justify-between">
    <div class="ml-5 text-left pr-8">
      <h2 class="text-3xl sm:text-2xl md:text-xl lg:text-lg font-medium leading-7 mb-4 poppins-extrabold", style="color: #0D47A1;">
        Limco Car Wash
      </h2>
      <p class="text-lg sm:text-base md:text-sm lg:text-xs text-gray-600 mb-8 poppins-light">
        Whether you're looking for a quick refresh or a premium detailing experience,
        <span class="noshow"> <br></span>
        we offer a range <span class="show-small"> <br></span> of services designed to meet <span class="show-small"> <br></span> the needs of every driver.
      </p>


    </div>

    <!-- Logo -->
    <div class="logo-wrapper">
      <%= image_tag "logo1.jpg", alt: "Logo", class: 'rounded-lg', style: 'width: 400px;' %>
    </div>
  </div>
</div>
