.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* hero section (view/dashboard/index */
/* Hide the image on smaller screens */
.logo-wrapper {
  display: none;
}

/* Show the image on large screens (lg) and up */
@media (min-width: 1024px) {
  .logo-wrapper {
    margin-right: 200px;
    display: block;
  }
  .show-small {
    display: none;
  }
}

@media (max-width: 1023px) {
  .noshow {
    display: none;
  }
}

/* flatpickr (view/bookings/form) */
/* Change the color of the selected day */
.flatpickr-day.selected,
.flatpickr-day.selected:hover {
  background: #4f46e5 !important;
  border-color: #4f46e5 !important;
  color: white !important;
}

/* Change the hover color */
.flatpickr-day:hover {
  background: #a5b4fc !important;
  border-color: #a5b4fc !important;
}

/* admin page, delete button */
/* views/bookings/index */
.css-bg {
  background-color: red;
  color: white;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.css-bg:hover {
  background-color: #e60000;
}
