<div class="bg-gradient-to-r from-black to-gray-900 text-gray-200 min-h-[20rem] sm:min-h-[25rem] md:h-80 lg:h-96 flex items-center justify-center text-center px-4 py-12 sm:py-16 md:py-20">
  <div>
    <p class="text-base sm:text-lg md:text-xl poppins-light">Like what you see?</p>
    <p class="text-2xl sm:text-3xl md:text-4xl poppins-extrabold my-2 sm:my-3 md:my-4">Book your wash!</p>
    <p class="text-lg sm:text-xl md:text-2xl poppins-light">Limco Carwash Brisbane Northside, your local choice.</p>
  </div>
</div>
