<div class="bg-gradient-to-r from-black to-gray-900 text-gray-200 h-60 flex items-center justify-center text-center">
  <div>
    <p class="text-lg">like what you see?</p>
    <p class="text-4xl font-bold my-4">Let's work together!</p>
    <p class="text-xl">We're North Brisbane's Premium carwash</p>
  </div>
</div>
